# Import Library

In [29]:
import pandas as pd
import numpy as np

# Import Dataset

In [203]:
df = pd.read_csv('selected_kpi_agg.csv')
del df['Unnamed: 0']

In [205]:
df

,location_id,location,enodeb_share,onx_avg_initialbufferinterval_overall,cei_score,call_setup_success_rate,ccsr_voice_rate
0,1101,SIMEULUE,98.819889,3894.755909,39.202889,99.376526,99.072951
1,1102,ACEH SINGKIL,70.846563,3814.646311,47.259552,98.956614,98.803908
2,1103,ACEH SELATAN,90.042483,4210.374871,43.589083,99.467589,99.388515
3,1104,ACEH TENGGARA,90.791036,5796.215219,35.139632,98.623316,99.051887
4,1105,ACEH TIMUR,81.575234,5000.427586,44.206753,99.392881,99.159862
...,...,...,...,...,...,...,...
510,9433,PUNCAK,45.689655,3647.583333,30.736576,91.493367,99.540894
511,9434,DOGIYAI,50.517241,7989.166667,40.016144,99.432660,98.729085
512,9435,INTAN JAYA,74.597701,6182.666667,NaN,99.396649,NaN
513,9436,DEIYAI,34.022989,3536.236111,38.710378,99.317835,99.170899
514,9471,KOTA JAYAPURA,96.393702,3567.643494,56.198176,99.777134,99.866395

In [207]:
df.describe()

,location_id,enodeb_share,onx_avg_initialbufferinterval_overall,cei_score,call_setup_success_rate,ccsr_voice_rate
count,515.000000,515.000000,514.000000,514.000000,515.000000,514.000000
mean,4568.687379,63.130021,4201.762923,54.990112,99.153884,99.514638
std,2681.286023,22.349401,1174.670241,6.746189,2.357748,0.384337
min,1101.000000,0.000000,2867.851924,29.751451,61.190477,97.577714
25%,1803.500000,41.858753,3593.669666,51.531452,99.284120,99.290669
50%,3571.000000,63.808865,3917.900312,55.479887,99.555096,99.645649
75%,7187.500000,80.153382,4484.407871,59.313840,99.723342,99.809941
max,9471.000000,100.000000,18247.500000,70.480344,99.932836,99.981240

# Get kpi score

In [211]:
month = input('Enter Month : ')
month_list = month.split(' ')

kpi_score = pd.read_csv('kpi_score.csv')

if len(month_list) == 1:
    kpi_score = kpi_score[['kpi_name', month_list[0]]]

elif len(month_list) > 1:
    kpi_score['avg_threshold'] = kpi_score[month_list].mean(axis=1)

kpi_score

Enter Month :  1

                                             kpi_name   1
0   dl_resource_block_utilization_rate_relactuserd... NaN
1   max_resource_block_utilization_rate_relactuser... NaN
2             nr_prb_utilization_dl_rate_relactuserdl NaN
3             nr_prb_utilization_ul_rate_relactuserdl NaN
4   ul_resource_block_utilization_rate_relactuserd... NaN
5                                   availability_rate NaN
6                             call_setup_success_rate NaN
7                                     ccsr_voice_rate NaN
8                                nr_availability_rate NaN
9                               nr_retainability_rate NaN
10                           nr_sn_setup_success_rate NaN
11            nr_user_throughput_dl_mbps_relactuserdl NaN
12                                   ows_availability NaN
13                                         packetloss NaN
14                                   sd_setup_sr_rate NaN
15                           user_downlink_throughput NaN
16                             volte_accessibility_sr NaN
17                           volte_retainability_rate NaN
18                        ccis_data_service_complaint NaN
19                              ccis_signal_complaint NaN
20               ccis_voice_and_sms_service_complaint NaN
21                                          cei_score NaN
22                                      f_sharing_qoe NaN
23                                          games_qoe NaN
24                                             im_qoe NaN
25                                         stream_qoe NaN
26                                       web_page_qoe NaN
27                                       enodeb_share NaN
28              onx_avg_initialbufferinterval_overall NaN
29                      onx_avg_stalling_time_overall NaN
30                   onx_avg_video_throughput_overall NaN
31        onx_codingsegmentsdurationaveragehd_overall NaN
32     onx_codingsegmentsdurationpercentagehd_overall NaN
33                                            onx_ecq NaN
34                         onx_download_speed_overall NaN
35                 onx_sum_stalling_occurance_overall NaN
36                             onx_udp_jitter_overall NaN
37                            onx_udp_latency_overall NaN
38                         onx_udp_packetloss_overall NaN
39                           onx_upload_speed_overall NaN
40                                sample_qualitymatch NaN
41                         tutela_download_throughput NaN
42                           tutela_excellent_quality NaN
43                              tutela_game_parameter NaN
44                               tutela_good_coverage NaN
45                                tutela_good_quality NaN
46                                      tutela_jitter NaN
47                                     tutela_latency NaN
48                                  tutela_packetloss NaN
49                           tutela_upload_throughput NaN
50                             tutela_video_score_all NaN
51                         tutela_video_score_netflix NaN
52                         tutela_video_score_youtube NaN

In [229]:
def kpi_score_func(x):
    col_list = list(x.columns)

    for col in col_list:
        if col in kpi_score.iloc[:,0].to_list():
            if len(month_list) == 1:
                x[col] = x[col].apply(lambda x: 100 if x >= kpi_score.loc[col, month_list[0]] else 0)
            else:
                return 'else'


kpi_score_func(df)
df

KeyError: 'enodeb_share'

In [223]:
col_list = list(df.columns)
for col in col_list:
    if col in kpi_score.iloc[:,0].to_list():
        print('yes')
    else:
        print('no')

no
no
yes
yes
yes
yes
yes